<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <servers>
        <server>
            <id>mymaven-snap</id>
            <username>admin</username>
            <password>mukesh@2803</password>
        </server>
        <server>
            <id>mymaven-release</id>
            <username>admin</username>
            <password>mukesh@2803</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>mymaven-central</id>
            <name>mymave-central</name>
            <url>http://3.235.192.218:8081/#admin/repository/repositories:mymaven-group1</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

</settings>